{% extends "base.html" %}
{% load bootstrap4 %}


{% block title %}Confirmación{% endblock %}

{% block content %}

<div class="row">
  <div class="col">
    <h1>
        Preparación de reservas para turnos de verano
    </h1>
  </div>
</div>

<div class="row">
  <div class="col">
    <form action="." method="post" class="form" data-function="main-form">
      {% csrf_token %}

      {% bootstrap_form form %}

      {% buttons %}
        <div class="form-group bmd-form-group">
          <button
                  type="submit"
                  class="btn btn-outline-success"
                  data-function="save">
            Crear turnos
          </button>
        </div>
      {% endbuttons %}
    </form>
  </div>
</div>
{% endblock %}
