{% extends "base.html" %}

{% block extrahead %}
  <link
      crossorigin="anonymous"
      href="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.10.0/fullcalendar.min.css"
      rel="stylesheet">
{% endblock extrahead %}

{% block extra_js %}
  <script
      crossorigin="anonymous"
      src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.24.0/moment.min.js">
  </script>
  <script
      crossorigin="anonymous"
      src="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.10.0/fullcalendar.min.js">
  </script>
  <script
    crossorigin="anonymous"
    src="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.10.0/locale/es.js">
</script>

  <script>
    $(function() {

      var sourcesFormat = [
        {color: '#7AC143', textColor: 'white'}, {color: '#F3FFBD', textColor: 'black'},
        {color: '#02C39A', textColor: 'black'}, {color: '#E5989B', textColor: 'black'},
        {color: '#028090', textColor: 'black'}, {color: '#00A896', textColor: 'black'},
        {color: '#6D6875', textColor: 'black'}, {color: '#B2DBBF', textColor: 'black'},
        {color: '#F0F3BD', textColor: 'black'}, {color: '#FFCDB2', textColor: 'black'},
        {color: '#FFB4A2', textColor: 'black'}, {color: '#B5838D', textColor: 'black'},
        {color: '#247BA0', textColor: 'black'}, {color: '#FF1654', textColor: 'black'}
      ];  // an arbitrary number of options, hoping they'll be more than the number of rooms

      var eventSources = [{% for r in rooms %}
        {  // {{ r.name }}
          url: "{% url 'reservations:events' r.id %}",
          color: sourcesFormat[{{forloop.counter0}}].color,
          textColor: sourcesFormat[{{forloop.counter0}}].textColor
        },
      {% endfor %}];


      $('#calendar').fullCalendar({
        defaultView: 'month',
        firstDay: 1,  // Monday
        eventSources: eventSources,
        eventRender: function(event, element) {
          var helpText = "Habitación reservada por " + event.user;
          var title = $('<span class="text-muted">'+event.room+" <small>("+event.user+")</small></span>");
          if (event.owned) {
            title = "<strong>"+event.room+"</strong> <small>"+event.user+" <em>(editar reserva)</em></small>";
            helpText = "Reserva propia";
          }

          element.prop("title", helpText);

          element.find(".fc-title").empty().append(title);
        }
      });

      $('[data-toggle="tooltip"]').tooltip()

    });
  </script>
{% endblock extra_js %}



{% block content %}
<div class="row pt-2">
  <div class="col">
    <h1>Generalidades</h1>
    <ul>
      <li>
        <a href="{% url "doc" %}">Sobre la basura</a>
      </li>
      <li>
        <a href="{% url "doc" %}#contribucion">Sobre la contribución</a>
      </li>
    </ul>
  </div>
</div>

<div class="row pt-5">
  <div class="col">
    <div id='calendar'></div>
  </div>
</div>


<div class="row pt-5">
  <div class="col">
      <h2>Próximas</h2>
  </div>
</div>

{% include "reservations/reservations_list_snippet.html" with reservations=next %}


{% endblock %}