{% extends "base.html" %}
{% load bootstrap4 %}

{% block title %}Confirmación{% endblock %}

{% block content %}

  <div class="modal-dialog" role="document">
        <form action="{% url 'reservations:delete' object.id %}"
                        method="POST" role="form" class="form-horizontal">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">Confirme la cancelación</h5>
            </div>
            <div class="modal-body">
                ¿Estás segura de querer cancelar esta reserva?
            </div>
            <div class="modal-footer">


                {% csrf_token %}
                {% buttons %}
                        <button type="button" class="btn btn-secondary" onclick="history.back()">Mejor no, volver</button>
                        <button type="submit" class="btn btn-primary">Si, borrar</button>
                {% endbuttons %}

            </div>
        </div>
        </form>
  </div>

{% endblock %}
