{% load bootstrap4 %}

<!doctype html>
<html lang="es">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="Carlos Matías de la Torre">

    <title>{% block title %}Santa Reserva{% endblock %}</title>

    <!-- Material Design for Bootstrap fonts and icons -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Material+Icons">

    <!-- Material Dsign for Bootstrap CSS -->
    {% bootstrap_css %}
    <!-- Custom styles for this template -->
    {% block extrahead %}{% endblock extrahead %}
  </head>

  <body>
    {% block navbar %}
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <button
          class="navbar-toggler"
          type="button"
          data-toggle="collapse"
          data-target="#mainNavBar"
          aria-controls="mainNavBar"
          aria-expanded="false"
          aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="mainNavBar">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
              <a class="nav-link" href="{% url 'reservations:index' %}">Reservas</a>
            </li>
            {% if request.user.is_authenticated %}
              <li class="nav-item">
                {% block nav_form_create %}
                  <form class="form-inline">
                      <a class="btn btn-success my-2 my-sm-0" href="{% url 'reservations:create' %}">Nueva reserva</a>
                  </form>
                {% endblock %}
              </li>
            {% endif %}
          </ul>

          {% block login_link %}
              {% if request.user.is_authenticated %}
                <p class="navbar-text navbar-right">
                  Hola <a href="#" class="navbar-link">{{ user.get_short_name }}</a>
                  {% if user.is_superuser %}
                    <a class="btn btn-link text-primary" href="{% url 'admin:index' %}">Administrar</a>
                  {% endif %}

                (
                  {% if request.user.profile %}
                    <a class="navbar-link text-secondary" href="{% url 'profiles:edit' pk=user.profile.id %}"> preferencias </a> |
                  {% endif %}
                  <a class="navbar-link text-secondary" href="{% url 'logout' %}"> desconectarse</a>
                )

                </p>

              {% else %}
                <span class="navbar-text pr-3">
                    Welcome Guest
                </span>
                <a class="nav-link btn btn-secondary" href="{% url 'login' %}">Acceder</a>
              {% endif %}
          {% endblock %}
      </div>
    </nav>
    {% endblock %}

    <main role="main" class="container">
    {% bootstrap_messages %}
    {% block content %}{% endblock %}
    </main><!-- /.container-fluid -->

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    {% bootstrap_javascript jquery='full' %}

    {% block extra_js %}{% endblock extra_js %}

  </body>
</html>
