{% extends "base.html" %}

{% block content %}
<div class="row pt-2">
  <div class="col">

    <h1 id="basura">Sobre la basura</h1>


    {% include "doc_basura_snippet.html" %}

   
  </div>
</div>

<div class="row pt-2">
  <div class="col">
    <h1 id="contribucion">Sobre la contribución para el mantenimiento</h1>

    <p>
    La idea es que todos colaboremos con el mantenimiento &#x1F6E0;	. Por eso cuando usamos los cuartos, hacemos un aporte &#x1F4B0;:
    <ul>
      <li>equivalente a 2,5 litros de nafta por noche (el monto es sugerido, obviamente se puede dejar mucho más)</li>
      <li>por "grupo familiar" (no importa si ocupamos un solo cuarto, o todos)</li>
      <li>en el comedor hay una caja para dejar el dinero &#x1F4E5;</li>
      <li>y una planilla para anotar lo que dejamos &#x1F4CB;</li>
    </ul>
    </p>
    <p>
      Luego, todos los meses, alguno de los tíos (en general Elvira o Daniel), se encarga de retirar eso y gestionar su uso.
    </p>
    <p>
      Este aporte, más allá de la limpieza general que se hace cada mes, se destina a mantener, reparar y reponer 
      todo lo que haga falta para que la pasemos bien cada vez que vamos: desde tener vasos hasta arreglar una cama 
      o un vidrio, por ejemplo.
    </p>
    <p>
      Además de este aporte solidario, esperamos que te involucres con <i>La Casa</i>. Si podés arreglar o mejorar algo, 
      hacelo &#x1F477;. Avisá si ves algo roto o que se está viniendo abajo.
    </p>
    <p>
      Si querés seguir disfrutando de Santa, como todos nosotros, por mucho tiempo más, <strong>¡empoderate! &#x1F4AA;.</strong>
    </p>

  </div>
</div>

{% endblock %}