{% extends "reservations/base.html" %}
{% load bootstrap4 %}

{% block title %}Sign in{% endblock %}

{% block login_link %}{% endblock %}

{% block content %}
<div class="container">
  <div class="row">
    <div class="col-sm-offset-2 col-sm-10">
      <h1>Acceder</h1>
      <p>¿No te registraste aún?
        <a href="{% url 'django_registration_register' %}">¡Registrate!</a></p>
      <p>¿Problemas para acceder?
        <a href="{% url 'password_reset' %}">Renová tu contraseña.</a></p>
    </div>
  </div>

  {% if form.errors %}
  <div class="row">
    <div class="alert alert-danger col-sm-offset-2 col-sm-6">
      <p><strong>Acceso fallido. Intenta de nuevo...</strong></p>
    </div>
  </div>
  {% endif %}

  <form action="{% url 'login' %}"
      method="post"
      role="form"
      class="form-horizontal">
    {% csrf_token %}

    {% bootstrap_field form.username layout='horizontal' %}
    {% bootstrap_field form.password layout='horizontal' %}
    {% if next %}
      <input type="hidden" name="next" value="{{ next }}" />
    {% else %}
      <input type="hidden" name="next" value="{% url 'reservations:index' %}" />
    {% endif %}
    {% buttons %}
    <div class="col-sm-offset-2 col-sm-10">
      <button type="submit" class="btn btn-primary">
        Login
      </button>
    </div>
    {% endbuttons %}
  </form>

</div>
{% endblock %}
